# -----------------------------------------------------------------
# .gitignore for SQL Change Automation
# -----------------------------------------------------------------

bin/
obj/
Tables/dbo.NewTable.sql
/*.dbmdl
/*.jfm
/*.sqlproj.user